Flask==3.1.1
Flask-SQLAlchemy==3.1.1
Flask-SocketIO==5.6.1
SQLAlchemy==2.0.51
PyMySQL==1.1.1
PyPDF2==3.0.1
requests==2.32.3
python-dotenv==1.1.0
python-socketio==5.16.3
python-engineio==4.13.3
simple-websocket==1.1.0
openpyxl==3.1.5
python-docx==1.2.0
lxml==6.1.1
tencentcloud-sdk-python-asr==3.1.130
greenlet==3.5.3
gevent==24.10.3
gevent-websocket==0.10.1
reportlab==4.4.4